.customPlaylist-wrapper {
  position: fixed;
  box-sizing: border-box;
  opacity: 0.99;
  top: 0;
  bottom: 60px;
  right: 70px;
  width: 360px;
  background-color: #1f1f1f;
}

.customPlaylist-wrapper {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.customPlaylist-wrapper.ng-hide {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

.customPlaylist-title {
  position: relative;
  box-sizing: inherit;
  line-height: 58px;
  margin: 0 16px 12px 16px;
  font-size: 16px;
  text-transform: uppercase;
  color: #eeeeee;
  border-bottom: 1px solid #666666;

  .right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    .wrapper-btn {
      display: inline-block;
      position: relative;
      margin: 0 2px;
    }

    .btn-customPlaylist-close {
      margin-left: 14px;

      svg {
        width: 36px;
        height: 36px;
        fill: #999999;
      }

      svg:hover {
        fill: #70c7d8;
      }
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      fill: #888888;
    }

    svg:hover {
      fill: #ca1629;
    }

    svg.active {
      fill: #ca1629;
    }
  }
}

.customPlaylist {
  position: relative;
  box-sizing: inherit;
  margin: 0 16px 0 28px;

  li.song {
    position: relative;
    box-sizing: inherit;
    height: 32px;
    line-height: 32px;
    //padding: 0 16px;
    font-size: 0;
    color: #888888;
    //border: 1px solid white;

    .song-inc-elem {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
    }

    .btn-play-pause {
      //z-index: 1;
      position: absolute;
      top: 50%;
      left: -22px;
      width: 18px;
      height: 18px;
      fill: #FFFFFF;
      transform: translateY(-50%);
    }

    .song-name {
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 80px;
    }

    .right {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }

  }

  li.song:hover {
    color: #FFFFFF;
    cursor: default;
  }

  li.song.active {
    color: #FFFFFF;
  }
}