#music-app {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;



  .wrapper-leftSide {
    position: relative;
    vertical-align: top;
    width: 200px;
    height: 100vh;
  }

  .wrapper-musicBoard {
    position: relative;
    vertical-align: top;
    width: auto;
    height: 100vh;
  }

  .wrapper-player {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    //height: 60px;
  }

}

@import "layout/left-side";
@import "layout/music-board";
@import "layout/player";
@import "layout/custom-playlist";