#music-app {
  display: table;//?
  position: relative;
  width: 100%;
  min-height: 100vh;

  .wrapper-leftSide {
    position: relative;
    vertical-align: top;
    width: 200px;
    height: 100vh;
  }

  .wrapper-musicBoard {
    position: relative;
    vertical-align: top;
    width: auto;
    height: 100vh;
  }

  .wrapper-player {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

}

@import "layout/music-board";
@import "layout/music-player";
@import "layout/music-player-mobile";
@import "layout/custom-playlist";