#music-app {

  .music-board {
    position: relative;
    width: 100%;
    height: 100vh;
    color: blue;

    .grid {
      position: relative;
      width: 96%;
      margin: 0 auto;

      .grid-item {
        box-sizing: border-box; //времено, надо переписать на инхерит или добавить в ресет
        display: inline-block;
        position: relative;
        width: 25%;
        min-height: 100px;
        padding: 0 5px;
        text-align: left;
        font-size: 14px;
        //background-color: #3c90be;
        //border: 1px solid #333333;
      }

    }

    .music-card {
      position: relative;
      width: 100%;
      background-color: #3c90be;
    }

  }

};