#music-app {

  .music-board {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    color: blue;

    .grid {
      position: relative;
      width: 96%;
      margin: 0 auto;

      .grid-item {
        box-sizing: border-box; //времено, надо переписать на инхерит или добавить в ресет
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 25%;
        min-height: 100px;
        padding: 0 5px;
        padding-bottom: 5px;
        text-align: left;
        font-size: 14px;
        //border: 1px solid #333333;
      }

    }

    .music-card {
      position: relative;
      width: 100%;
      color: #EEEEEE;
      //display: none;
    }

    .music-card-list {
      li {
        position: relative;
        width: 100%;
        height: 80px;
        margin-bottom: 5px;
        background-color: #1f1f1f;
      }
    }


  }

};