<section class="music-board">
    <nav>

    </nav>
    <ul isotope-container class="grid">
        <li isotope-item ng-repeat="card in MusicBoard.musicCard"
            class="grid-item">
            <div class="music-card">
                <div class="music-card-img">
                    <img src="">
                </div>
                <ul class="music-card-list">
                    <li ng-repeat="song in card.audio">
                        <button music-player="play" add-song="song">{{ song.title }}</button>
                        <button music-player add-song="song">+</button>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>

<!--


<ul>
                    <li ng-repeat="attachments in item.attachments">
                        {{::attachments.type}}
                    </li>
                </ul>
           <span>{{::item.id}}</span>
           {{::audio.title}}
-->