@import "../../../css/base/colors";
@import "../../../css/base/media";

nav.music-player {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: main-color('background', 'dark');
  color: main-color('font', 'light');
  font-size: 0;

  .inc {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 14px;
  }

  a svg {
    width: 26px;
    height: 26px;
    fill: main-color('primary');
  }

  a.active svg {
    fill: main-color('secondary', 'light');
  }

  .currentSong-icon {
    width: 40px;
    height: 40px;
    background-color: main-color('primary');
  }

  .currentSong-info {
    overflow: hidden;
    max-height: 100%;
    width: 220px;
    margin-right: 10px;
    font-size: 13px;

    .note {
      font-size: 12px;
    }
  }

  .btn-repeat {
    padding: 0 6px;
  }

  //play stop next
  .mainNav {
    display: inline-block;
    padding: 0 8px;

    .play {
      margin-left: 4px;
    }

    .play svg {
      width: 42px;
      height: 42px;
    }

    .next-prev {
      margin-left: 4px;
    }

  }

  .currentSong-position {
    font-size: 13px;
    line-height: normal;
  }

  .currentSong-timeline {
    position: absolute;
    left: 477px;
    right: 322px;
    top: 50%;
    margin-top: -5px;

    .seekBase {
      height: 10px;
      width: 100%;
      background-color: main-color('background', 'light');
      border-radius: 4px;
    }

    .seekLoad {
      height: 12px;
      width: 0;
      background-color: main-color('tertiary');
      border-radius: 4px;
    }
  }

  .right-section {
    position: absolute;
    top: 0;
    right: 14px;
    bottom: 0;

    .currentSong-duration {
      font-size: 13px;
      line-height: normal;
    }

    .volumeChange {
      height: 10px;
      width: 120px;
      background-color: main-color('background', 'light');
      border-radius: 4px;

      .volumeCurrent {
        height: 100%;
        width: 50%;
        background-color: main-color('secondary', 'light');
        border-radius: 4px;
      }
    }

  }

}