@import "../base/_colors";

.board {
  position: relative;
  width: 100%;
  min-height: 100%;

  nav.mainNav {
    position: relative;
    box-sizing: border-box;
    height: 60px;
    margin: 0 10px;
    line-height: 60px;
    font-size: 0;

    ul {
      box-sizing: border-box;
      height: inherit;
      line-height: inherit;
      border-bottom: 2px solid main-color('font');
    }

    li {
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      padding: 0 10px;
      height: inherit;
      line-height: inherit;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      color: main-color('font');
      border-bottom: 2px solid main-color('font');

      &.active {
        color: main-color('font', 'light');
        border-color: main-color('tertiary');
      }

      &.active:after {
        content: '';
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -6px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-bottom-color: main-color('tertiary');
      }

      &:hover {
        cursor: default;
        border-color: main-color('tertiary');
      }
    }
  }
}